/TourGuide/target/classes/application.properties
/TourGuide/target/surefire-reports/com.openclassrooms.tourguide.TestPerformance.txt
/TourGuide/target/surefire-reports/com.openclassrooms.tourguide.TestRewardsService.txt
/TourGuide/target/surefire-reports/com.openclassrooms.tourguide.TestTourGuideService.txt
/TourGuide/target/surefire-reports/com.openclassrooms.tourguide.TourguideApplicationTests.txt
/TourGuide/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/TourGuide/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/TourGuide/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/TourGuide/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/TourGuide/target/classes/com/openclassrooms/tourguide/helper/InternalTestHelper.class
/TourGuide/target/maven-archiver/pom.properties
/TourGuide/target/classes/com/openclassrooms/tourguide/service/RewardsService.class
/TourGuide/target/surefire-reports/TEST-com.openclassrooms.tourguide.TestPerformance.xml
/TourGuide/target/surefire-reports/TEST-com.openclassrooms.tourguide.TestRewardsService.xml
/TourGuide/target/surefire-reports/TEST-com.openclassrooms.tourguide.TestTourGuideService.xml
/TourGuide/target/surefire-reports/TEST-com.openclassrooms.tourguide.TourguideApplicationTests.xml
/TourGuide/target/test-classes/com/openclassrooms/tourguide/TestPerformance.class
/TourGuide/target/test-classes/com/openclassrooms/tourguide/TestRewardsService.class
/TourGuide/target/test-classes/com/openclassrooms/tourguide/TestTourGuideService.class
/TourGuide/target/tourguide-0.0.1-SNAPSHOT.jar
/TourGuide/target/tourguide-0.0.1-SNAPSHOT.jar.original
/TourGuide/target/classes/com/openclassrooms/tourguide/TourguideApplication.class
/TourGuide/target/test-classes/com/openclassrooms/tourguide/TourguideApplicationTests.class
/TourGuide/target/classes/com/openclassrooms/tourguide/TourGuideController.class
/TourGuide/target/classes/com/openclassrooms/tourguide/TourGuideModule.class
/TourGuide/target/classes/com/openclassrooms/tourguide/service/TourGuideService$1.class
/TourGuide/target/classes/com/openclassrooms/tourguide/service/TourGuideService.class
/TourGuide/target/classes/com/openclassrooms/tourguide/tracker/Tracker.class
/TourGuide/target/classes/com/openclassrooms/tourguide/user/User.class
/TourGuide/target/classes/com/openclassrooms/tourguide/user/UserPreferences.class
/TourGuide/target/classes/com/openclassrooms/tourguide/user/UserReward.class
